/* Caso queira utilizar framework como Bootstrap para estilização, pode utilizar. Basta ignoar esse arquivo */
#Corpo {
    background-color:  rgb(170, 170, 170);
    text-align: center;
    color: white;
}

#InputBotao {
    display: flex;;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    background-color: white;
    border-radius: 20px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 25px;
}

#InputBotao input {
    margin: 10px;
    padding: 10px;
    width: 200px;
}

#InputBotao button {
    padding: 10px 20px;
    background-color: #3c9600;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 10px;
}

#lista-materiais {
    padding: auto;
}

#ListaL {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    background-color: white;
    border-radius: 20px;
    color: black;
    max-width: 600px;
    margin: auto;
}