/* Caso queira utilizar framework como Bootstrap para estilização, pode utilizar. Basta ignoar esse arquivo */
#DIVLista {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}