/* Caso queira utilizar framework como Bootstrap para estilização, pode utilizar. Basta ignoar esse arquivo */
#Corpo {
    background-color:  #D8D8C0;
    text-align: center;
    color: white;
}

#Titulo {
    font: 16px Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #df8615;
    margin-bottom: 25px;
    color: white;

    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    /* ARRUMAR ISSO DEPOIS!!!!! */
    /* ARRUMAR MARGIN INCORRETA */
}

#InputBotao {
    font: 16px Arial, sans-serif;
    display: auto;
    flex-direction: row; /* NÃO SEI SE ISSO MUDOU ALGO */
    align-items: center;
    margin-top: 45px;
    background-color: #F0F0D8;
    border-radius: 5px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 25px;
    color: black;
}

#InputBotao input {
    margin: 10px;
    padding: 10px;
    width: 200px;
}

#InputBotao button {
    padding: 10px 20px;
    background-color: #3c9600;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 10px;
}

#InputRetirada {
    font: 16px Arial, sans-serif;
    display: auto;
    flex-direction: row; /* NÃO SEI SE ISSO MUDOU ALGO */
    align-items: center;
    margin-top: 45px;
    background-color: #F0F0D8;
    border-radius: 5px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 25px;
    color: black;
}

#InputRetirada input {
    margin: 10px;
    padding: 10px;
    width: 200px;
}

#ListaL {
    font: 16px Arial, sans-serif;
    margin-top: 45px;
    display: auto;
    justify-content: center;
    flex-direction: row; /* NÃO SEI SE ISSO MUDOU ALGO */
    align-items: center;
    background-color: #F0F0D8;
    border-radius: 5px;
    color: black;
    max-width: 600px;
    margin: auto;
}

#lista-materiais th {
    display: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid white;
}

.btn-baixar {
    padding: 5px 10px;
    background-color: #dca735;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin: 5px;
}

.btn-excluir {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin: 5px;
}